spring:
  application:
    name: spring-ai
  profiles:
    active: local
  output:
    ansi:
      enabled: ALWAYS

server:
  port: 8100
  servlet:
      context-path: /api

logging:
  level:
    root: info # 门槛 = INFO
